@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fcfbfb;
	margin: 0;
	padding: 0;
	font-family: Roboto, Lato, Helvetica, sans-serif;
}

h2 {
	margin: 0;
}

#content {
	max-width: 1600px;
	margin: 0 auto;
}



/* Header and stuff */

.card-img {
	border: 8px solid lightgrey;
}

.logo, .icon {
	width: 80px;
	border-radius: 1000px;
}

header {
	background-color: #ddda;
	display: grid;
	grid-template-columns: 150px auto;
	position: fixed;
	width: 100%;
	max-width: 1600px;
}

nav {
	display: flex; 
	justify-content: space-around;
	top: 0;
}

#logo_link {
	padding-top: 5px;
	justify-self: center;
	align-self: center;
}

nav a {
	justify-self: center;
	align-self: center;
	color: black;
	text-decoration: none;
	padding: 12px;
}

nav a:hover {
	background-color: lightgray;
}

/* Hero Stuff */

#hero {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
	grid-column: 1/4;
	grid-row: 1/3;
}

#hero-msg {
	grid-column: 2/3;
	grid-row: 1/2;
	margin-top: 100px;
}

#hero-msg h4 {
	text-align: center;
	color: white;
}

#hero-msg h1{
	text-align: center;
	color: #9c9;
}

#hero-img {
	width: 100%;
}

/* main stuff */

.home-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

main section {
	text-align: center;
}

.card-img {
	border: 10px solid #d9c2a3;
	transition: transform .5s;
	box-shadow: 5px 5px 10px #6f7364;
	width: 100%;
}
.card-img:hover {
	opacity: .6;
	transform: scale(1.1);
}

#background {
	grid-column: 1/11;
	grid-row: 4/9;
	z-index: -2;
	background-color: #aaa;
	height: 750px;
}

.msg {
	background-color: lightgray;
	line-height: 1.5em;
	padding: 12px;
	grid-column: 6/10;
	grid-row: 6/7;
	box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
	grid-column: 2/7;
	grid-row: 5/8;
	z-index: -1;
	width: 100%;
	box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card {
	grid-column: 2/4;
	grid-row: 2/3;
}

.camping-card {
	grid-column: 5/7;
	grid-row: 2/3;
}

.rapids-card {
	grid-column: 8/10;
	grid-row: 2/3;
}

/* Section 2 */

.home-title {
	color: #444;
	font-family: Lato, Helvetica, sans-serif;
	font-size: 2em;
}

.button-box {
	text-align: center;
}

.book, .join {
	background-color: #ada;
	color: black;
	text-decoration: none;
	padding: 12px;
}

.book:hover, .join:hover {
	background-color: #9c9;
}

/* FAQ */

#faq {
	padding: 128px 48px 12px;
}

#faq img {
	float: right;
}

#faq h1 {
	color: #9c9;
	font-size: 128px;
	margin: 24px 0;
}

#faq h2 {
	font-size: 32px;
}

#faq p {
	font-size: 24px;
	margin-left: 48px;
	line-height: 36px;
}

/* footer */

footer {
	background-color: lightgrey;
	padding: 36px;
}

footer p {
	font-size: 1.2em;
}

footer p a {
	text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.social a {
	text-decoration:none;
}

@media screen and (max-width: 900px) {
	#hero, .home-grid {
		display: block;
		height: auto;
	}
	nav, footer {
		flex-direction: column;
	}
	nav a {
		display: block;
		padding: 15px;
	}
	#hero {
		margin-top: 0;
	}
	#hero-msg {
		margin-top: 0;
	}
	#hero-msg h4 {
		display: none;
	}
	.home-title {
		font-size: 25px;
		color: #6f7364;
	}
	.rivers-card, .camping-card, .rapids-card { 
		margin: 50px auto;
		width: 60%;
	}
	#background {
		display: none;
	}
	.mountains, .msg {
		width: 80%;
		display: block;
		margin: 0 auto;
	}
	#faq {
		padding-top: 12px;
	}
	#faq h1 {
		margin: 0;
	}
	#faq img {
		float: initial;
		width: 100%;
	}
	#faq p {
		font-size: 24px;
		margin-left: 0;
		line-height: 30px;
	}
	footer {
		margin-top: 25px;
	}
}

