
body {
	background-color: pink;
	color: white;
	text-align: center;
	font-family: Arial;
}

footer p {
	color: black !important;
}

ol {
	width: 370px;
	margin: 0 auto;
	color: black;
	text-align: left;
	font-weight: bold;
}

li{
	margin: 4px 0;
}

h1:hover {
	color: black;
}

header .quote {
	font-size: 12px;
}

.quote {
	font-family: 'Times New Roman', Times, serif; 
	font-size: 24px;
}

img {
	width: 120px;
}
